.nav{
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
.text{
    text-align: center;
    color: white;
    font-family:'Courier New', Courier, monospace ;
    }
        
 